body{
    background-color: rgb(247, 247, 247);
}
table{
    margin: 10px 0;
}
/*validation*/
form.ng-submitted div div .ng-invalid,
form div div .ng-invalid.ng-dirty,
form div div .ng-invalid.ng-touched{
    box-shadow: 0 0 6px rgba(247, 0, 0, 0.45);
    border-left: 5px solid #a94442; /* red */
}
div form.ng-submitted div div .err-input{
    box-shadow: 0 0 6px rgba(247, 0, 0, 0.45);
}
form div div .ng-valid.ng-dirty,
form div div .ng-valid.ng-touched{
    box-shadow: 0 0 6px rgb(61, 181, 58);
    border-left: 5px solid #42A948; /* green */
}
div.error {
    color: rgba(255, 52, 44, 0.44);
    font-weight: bold;
    position: absolute;
    left: 103px;
    top: 35px;
    font-size: 13px;
}
.margin-error-validation{
    margin-left: 35px;
}
/*validation*/

/*breadcrumb*/
.breadcrumb{
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #ccc2c2;
}
/*breadcrumb*/
.navbar-brand.active{
    box-shadow: 0px 0px 6px rgba(33, 31, 31, 0.25) inset;
}

/*common*/
.container-form{
    width: 500px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px #CCC2C2;
    min-height: 200px;
}
.container-list-group{
    width: 500px;
    float: right;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #CCC2C2;
    box-shadow: 0 0 5px #CCC2C2;
}
.form-group{
    position: relative;
    margin-bottom: 20px;
}
.fl-none{
    float: none;
}

div a.navbar-brand{
    margin-right: 13px;
}

.block-container{
    padding: 15px 20px;
    border-radius: 8px;
    border: 1px solid #CCC2C2;
    box-shadow: 0 0 5px #CCC2C2;
    margin: 20px 0;
}
.margin-form{
    margin: 15px 0;
}
.fl-right{
    float: right;
}
.border-right{
    border-right: 1px solid #DDD;
}
.profile-img{
    margin-top: 10px;
    width: 150px;
    height: 150px;
}
.header-page{
    font-weight: 900;
    padding-right: 38px;
}
.edit-link{
    font-size: 14px;
}
.btn-add{
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 0px 6px;
    box-shadow: 0 0 5px #ccc2c2;
    cursor: pointer;
}
a.btn-add:hover {
    text-decoration: none;
    box-shadow: none;
}
/*common*/

/*tabs*/
.edit-group-tabs {
    margin: 15px 0;
    padding: 7px 12px;
    background-color: rgba(14, 14, 14, 0.04);
    border: 1px solid #5bc0de;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(91, 192, 222, 0.51);
    text-decoration: none !important;
}
.edit-group-tabs:hover {
    box-shadow: 0px 0px 20px rgba(91, 192, 222, 0.51);
}
.edit-group-tabs.active {
    background-color: rgba(91, 192, 222, 0.51);
}
/*tabs*/

/*pagination*/
.container {
    margin-top: 20px;
}
.pagination {
    display: inline-block;
}
.pagination:after {
    content: " ";
    display: table;
    clear: both;
}
.pagination li {
    cursor: pointer;
}
.pagination-wrap {
    text-align: center;
}
/*pagination*/

/*scrolling*/
#fixed {
    max-height: 250px;
    overflow: auto;
}
/*scrolling*/

/*delete-icon*/
.delete-icon{
    color: #e10000;
    font-weight: bold;
    margin-left: 10px;
    font-family: cursive;
    cursor: pointer;
    font-size: 16px;
}
.delete-icon:hover{
    text-decoration: none;
    color: #e10000;
    text-shadow: 0 0 1px #FF0000;
}
/*delete-icon*/
/*navbar details*/
.adm-navbar a{
    box-shadow: 0 0 5px #ccc2c2;
    font-weight: bold;
}
.adm-navbar a.active,
.adm-navbar a.active:focus,
.adm-navbar a.active:hover{
    color: #fff;
    background-color: #337ab7;
}
.adm-navbar li{
    margin-top: 20px !important;
    margin-right: 20px;
    cursor: pointer;
}

/*adv-profile*/
.adm-profile{

}
.adm-profile-items{
    margin-top: 15px;
    margin-left: -10px;
}
.adm-profile-items>div{
    margin-top: 10px;
}

/*btn-form-right*/

.btn-form-right{
    float: right;
}
.adv-margin-form-addG{
    margin-top: 30px;
}
.adm-margin-GList{
    margin-top: 20px;
}
.input-group-addon a{
    cursor: pointer;
}
.adm-search-result-not-found{
    font-size: 17px;
    color: red;
    margin-left: 45px;
    margin-top: -15px;
}
.margin-error-select{
    margin-left: 80px;
}

/*ANIMATION*/
.animate-content-user .ng-leave{
    /*animation: zoomOutDown 1s;*/
}
.animate-content-user .ng-enter{
    animation: flipInX 1s;
}
.animate-content-group .ng-leave{
    /*animation: fadeOut 1s;*/
}
.animate-content-group .ng-enter{
    animation: flipInX 1s;
}
