<ul class="nav nav-pills adm-navbar">
    <li>
        <a (click)="state = 'groupsList'" [class.active]="state === 'groupsList'">Groups list</a>
    </li>
    <li>
        <a (click)="state = 'addGroup'" [class.active]="state === 'addGroup'">Add group for user</a>
    </li>
</ul>

<div *ngIf="state === 'groupsList'">
    <groups-table [groups]="groups" [showDeleteBtn]="showDeleteBtn" (deletedItem)="onGroupDeleted($event)"></groups-table>
</div>
<div *ngIf="state === 'addGroup'">
    <add-user-group-form (submitted)="onUserGroupAdded($event)"></add-user-group-form>
</div>
<!--<div>-->
    <!--<router-outlet></router-outlet>-->
<!--</div>-->