<div class="container-form margin-form">
    <h3>Create new user</h3>
    <form name="userForm" class="form-horizontal" (ngSubmit)="submit(userForm.form)" #userForm="ngForm">
        <div class="form-group">
            <label for="inputUserName" class="col-sm-3 control-label">User name:</label>
            <div class="col-sm-9">
                <input type="text"
                       class="form-control"
                       id="inputUserName"
                       placeholder="userName"
                       name="userName"
                       [(ngModel)]="model.userName"
                       #userName="ngModel"
                       required
                >
            </div>
            <div [hidden]="userName.valid || userName.pristine" class="error margin-error-validation">
                userName is required
            </div>
        </div>
        <div class="form-group">
            <label for="inputFirstName" class="col-sm-3 control-label">First name:</label>
            <div class="col-sm-9">
                <input type="text"
                       name="firstName"
                       class="form-control"
                       id="inputFirstName"
                       placeholder="firstName"
                       [(ngModel)]="model.firstName"
                       #firstName="ngModel"
                       required
                >
            </div>
            <div [hidden]="firstName.valid || firstName.pristine" class="error margin-error-validation">
                firstName is required
            </div>
        </div>
        <div class="form-group">
            <label for="inputLastName" class="col-sm-3 control-label">Last name:</label>
            <div class="col-sm-9">
                <input type="text"
                       name="lastName"
                       class="form-control"
                       id="inputLastName"
                       placeholder="lastName"
                       [(ngModel)]="model.lastName"
                       #lastName="ngModel"
                       required
                >
            </div>
            <div [hidden]="lastName.valid || lastName.pristine" class="error margin-error-validation">
                lastName is required
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-3 control-label">Email:</label>
            <div class="col-sm-9">
                <input type="email"
                       name="email"
                       class="form-control"
                       id="inputEmail"
                       placeholder="email"
                       [(ngModel)]="model.email"
                       #email="ngModel"
                       required
                >
            </div>
            <div [hidden]="email.valid || email.pristine" class="error margin-error-validation">
                email is required
            </div>
        </div>
        <div class="btn-form-right">
            <!--<button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Create</button>-->
            <button type="submit" class="btn btn-primary">{{nameSubmitBtn}}</button>
            <a class="btn btn-primary" (click)="goToBack()">Cancel</a>
        </div>
    </form>
</div>