<div class="container-form margin-form">
    <h3>Add group for user</h3>
    <form name="groupsUserForm"
          class="form-horizontal adv-margin-form-addG"
          (ngSubmit)="submit(userForm.form)" #userForm="ngForm">
          <!--ng-submit="groupsUser.addGroupForUser(groupsUser.groupForUser, groupsUserForm.$valid, groupsUserForm)">-->
        <div class="form-group">
            <label for="inputGroup"
                   class="col-sm-4 control-label">Group name:</label>
            <div class="col-sm-8">
                <select
                        class="form-control"
                        required
                        (change)="groupId = selectedGroup.value"
                        name="selectedGroup"
                        id="inputGroup"
                        #selectedGroup>
                    <option [value]="''">Select</option>
                    <option [value]="group._id" *ngFor="let group of groups">
                        {{group.groupName}}
                    </option>
                </select>
                <!--<select name="groups"-->
                        <!--check-unique="{model: 'user', property: 'groupId'}"-->
                        <!--ng-model="groupsUser.groupForUser.group"-->
                        <!--id="inputGroup"-->
                        <!--class="form-control"-->
                        <!--required-->
                        <!--ng-options="group.groupName for group in groupsUser.groups track by group._id">-->
                    <!--<option value="">-&#45;&#45;Please select-&#45;&#45;</option>-->
                <!--</select>-->
            </div>
        </div>
        <div class="btn-form-right">
            <button type="submit" class="btn btn-primary">Add</button>
            <a class="btn btn-primary" (click)="goToBack()">Cancel</a>
        </div>
    </form>
</div>