<div class="container-form margin-form">
    <h3>Create new group</h3>
    <form name="groupForm"
          class="form-horizontal"
          novalidate
          (ngSubmit)="submit(groupForm.form)" #groupForm="ngForm">
        <div class="form-group">
            <label for="inputGroupName"
                   class="col-sm-3 control-label">Group name:</label>
            <div class="col-sm-9">
                <input type="text"
                       name="groupName"
                       class="form-control"
                       id="inputGroupName"
                       [(ngModel)]="model.groupName"
                       placeholder="groupName"
                       #groupName="ngModel"
                       required
                >
            </div>
            <div [hidden]="groupName.valid || groupName.pristine" class="error margin-error-validation">
                groupName is required
            </div>
        </div>

        <div class="form-group">
            <label for="inputGroupTitle" class="col-sm-3 control-label">Group title:</label>
            <div class="col-sm-9">
                <input type="text"
                       name="groupTitle"
                       class="form-control"
                       id="inputGroupTitle"
                       [(ngModel)]="model.groupTitle"
                       placeholder="groupTitle"
                       #groupTitle="ngModel"
                       required
                >
            </div>
            <div [hidden]="groupTitle.valid || groupTitle.pristine" class="error margin-error-validation">
                groupTitle is required
            </div>
        </div>
        <div class="btn-form-right">
            <button type="submit" class="btn btn-primary">{{nameSubmitBtn}}</button>
            <a class="btn btn-primary" (click)="goToBack()">Cancel</a>
        </div>
    </form>
</div>