<div class="adm-profile">
    <div class="col-sm-3">
        <img class="profile-img" src="./img/Group_ava.png" alt="profile"/>
    </div>
    <div class="col-sm-9">
        <h4>Group details</h4>
        <div class="adm-profile-items clearfix">
            <div class="col-sm-3"><p>Group name:</p></div>
            <div class="col-sm-9"><p>{{group.groupName ? group.groupName : ''}}</p></div>
            <div class="col-sm-3"><p>Group title:</p></div>
            <div class="col-sm-9"><p>{{group.groupTitle ? group.groupTitle : ''}}</p></div>
        </div>
    </div>
</div>