<div class="form-group">
    <div class="input-group">
        <div class="input-group-addon">
            Search
        </div>
        <input
                type="text"
                class="form-control"
                (input)="inputValueUpdate(input.value)"
                #input
        >
        <div
                *ngIf="input.value"
                class="input-group-addon">
            <a (click)="clearInputValue(input)">
                X
            </a>
        </div>
    </div>
</div>