<h4 *ngIf="groups && !groups.length > 0">There are no groups</h4>

<table *ngIf="groups && groups.length > 0" class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>Group name</th>
        <th>Group title</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of groups">
        <td>
            <a [routerLink]="['/admin/groupProfile', group._id, '/details']">
                {{group.groupName}}
            </a>
        </td>
        <td>{{group.groupTitle}}
            <a *ngIf="showDeleteBtn" (click)="deleteItem(group)" class="delete-icon">X</a>
        </td>
    </tr>
    </tbody>
</table>
