<div class="row">
    <div class="col-sm-9 border-right animate-content-group">
        <router-outlet></router-outlet>
    </div>

    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked adm-navbar">
            <li>
                <a [routerLink]="['details']" routerLinkActive="active">Details group</a>
            </li>
            <li>
                <a [routerLink]="['edit']" routerLinkActive="active">Edit group</a>
            </li>
            <li>
                <a [routerLink]="['groupUsers']" routerLinkActive="active">Group users</a>
            </li>
            <li>
                <a (click)="deleteGroup()">Delete group</a>
            </li>
        </ul>
    </div>
</div>
