<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand header-page">Admin page</span>
                <a class="navbar-brand" [routerLink]="['/admin/users']" routerLinkActive="active">Users page</a>
                <a class="navbar-brand" [routerLink]="['/admin/groups']" routerLinkActive="active">Groups page</a>
            </div>
        </div>
    </nav>
    <div class="block-container">
        <router-outlet></router-outlet>
    </div>
</div>