<h3>All users
    <a (click)="goToAddUserPage()" class="btn-add">+</a>
</h3>

<search-box (updated)="onInputUpdated($event)"></search-box>

<users-table [users]="users" [term]="term"></users-table>

<pagination
        [totalItems]="totalItems"
        [(ngModel)]="currentPage"
        [itemsPerPage]="itemsPerPage"
        (pageChanged)="pageChanged($event)">
</pagination>