<div class="row">
    <div class="col-sm-9 border-right animate-content-user">
        <router-outlet></router-outlet>
    </div>

    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked adm-navbar">
            <li>
                <a [routerLink]="['details']" routerLinkActive="active">Details user</a>
            </li>
            <li>
                <a [routerLink]="['edit']" routerLinkActive="active">Edit user</a>
            </li>
            <li>
                <a [routerLink]="['userGroups']" routerLinkActive="active">User groups</a>
            </li>
            <li>
                <a (click)="deleteUser()">Delete user</a>
            </li>
        </ul>
    </div>
</div>
