<h4 *ngIf="users && !users.length > 0">There are no users.</h4>

<table *ngIf="users && users.length > 0" class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>User name</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | searche: term">
        <td>
            <a [routerLink]="['/admin/userProfile', user._id, '/details']">
                {{user.userName}}
            </a>
        </td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
    </tr>
    </tbody>
</table>